body, .site-container {
  font-family: 'Arial', sans-serif;
  padding: 20px;
  background-color: skyblue; 
}

header {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.box {
  background-color: white;  
  border-radius: 10px;      
  padding: 15px;
  margin-bottom: 20px;      
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#content-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#left-panel {
  flex: 30%; 
}

#right-panel {
  flex: 70%; 
}

@media (max-width: 768px) {
  #content-wrapper {
      flex-direction: column;
  }

  #left-panel, #right-panel {
      flex: 100%; 
  }
}

#forecast-wrapper {
  display: flex; 
  justify-content: space-between; 
}

.forecast-day {
  flex: 1; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  background-color: #f0e5d8; 
  padding: 10px; 
  margin: 0 5px; 
  border-radius: 5px; 
  display: none;
}

#forecast-section {
  overflow-x: auto;
}

@media (max-width: 768px) {
  #forecast-wrapper {
      flex-wrap: wrap; 
      justify-content: center; 
  }

  .forecast-day {
      margin: 5px; 
      flex: none; 
      width: calc(100% / 2 - 20px); 
  }
}

#weather-icon {
  display: none;
}

.weather-container {
  background-color: #f0e5d8; 
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
}

#search-history-list {
  list-style-type: none;  
  padding-left: 0;     
}

#search-history-list li {
  background-color: #f0e5d8;  
  padding: 10px;  
  margin: 10px 0; 
  border-radius: 5px;  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
  cursor: pointer; 
  transition: background-color 0.3s ease;  
}

#search-history-list li:hover {
  background-color: #E0D4C8; 
}